Source: kwindowsystem
Section: libs
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 0.0.13),
               libqt5x11extras5-dev,
               libxcb-keysyms1-dev,
               libxcb-xfixes0-dev,
               libxrender-dev,
               openbox,
               pkg-config,
               pkg-kde-tools,
               qt5-default,
               qtbase5-dev,
               qttools5-dev,
               qttools5-dev-tools,
               xauth,
               xvfb
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/frameworks/kwindowsystem

Package: libkf5windowsystem5
Section: libdevel
Architecture: any
Depends: libkf5windowsystem5-data (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Convenience access to certain properties and features of the window manager.
 The class KWindowSystem provides information about the state of the
 window manager and allows asking the window manager to change them
 using a more high-level interface than the NETWinInfo/NETRootInfo
 low level classes.
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}

Package: libkf5windowsystem5-data
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Convenience access to certain properties and features of the window manager.
 The class KWindowSystem provides information about the state of the
 window manager and allows asking the window manager to change them
 using a more high-level interface than the NETWinInfo/NETRootInfo
 low level classes.
 .
 This package contains the translations.

Package: libkf5windowsystem5-dbg
Priority: extra
Section: debug
Architecture: any
Multi-Arch: same
Depends: libkf5windowsystem5 (= ${binary:Version}), ${misc:Depends}
Description: debug symbols for kwindowsystem
 The class KWindowSystem provides information about the state of the
 window manager and allows asking the window manager to change them
 using a more high-level interface than the NETWinInfo/NETRootInfo
 low level classes.
  .
 Contains debug symbols for kwindowsystem.
